.footer__inner {
	padding: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__links {
	display: flex;
	align-items: center;
	gap: 40px;
}

.footer__links .link {
	color: var(--color-primary);
}
