@import 'variables';
@import './components/hamburger-menu-btn';
@import './components/language-switcher';

.header {
	flex: 0 0 auto;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	padding: 18px 0rem 18px 0rem;
}

.header__logo {
	width: 98px;
	z-index: 1;
}

.header__main-nav {
	flex: 1;
	gap: 100px;
}

.header__main-nav-list {
	display: flex;
	gap: 100px;
	justify-content: end;
}

.header__main-nav-link {
	color: var(--color-text-body);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: -16px;
		height: 3px;
		background-color: var(--color-primary-hover);
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	&:hover::after {
		opacity: 1;
	}
}

@media (max-width: $breakpoint-lg) {
}

@media (max-width: $breakpoint-sm) {
	.header__inner {
		gap: 16px;
		padding: 12px 0rem;
	}

	.header__logo {
		flex: 1;
	}

	.header__main-nav {
		display: none;
	}
}
