.main-home-page section{
  margin-bottom: 80px;
}

.section-welcome__page-home{
 background-image: url('/images/bg-top-section.png');
}


.section-welcome {
	flex-basis: 640px;
	color: var(--color-white);
  background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-welcome__inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.section-welcome__text {
	font-size: var(--font-size-18);
	line-height: var(--line-height-1-8);
	max-width: 500px;
}

.section-start-mining__inner{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.coins-list{
  display: grid;
  grid-template-columns: repeat(4, 326px);
  gap: 12px;
}

