.main-home-page section {
	margin-bottom: 80px;
}

.section-welcome__page-home {
	background-image: url('/images/bg-top-section.png');
}

.section-welcome {
	flex-basis: 640px;
	color: var(--color-white);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.section-welcome__inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.section-start-mining__inner {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.coins-list {
	display: grid;
	grid-template-columns: repeat(4, 326px);
	gap: 12px;
}

@media (max-width: $breakpoint-lg) {
	.main-home-page section {
		margin-bottom: 40px;
	}

	.section-welcome__page-home {
		background: var(--linear-gradient-primary);
	}

	.section-welcome__page-home.section-welcome {
		flex-basis: 400px;
	}

	.coins-list {
		grid-template-columns: repeat(2, 338px);
	}
}

@media (max-width: $breakpoint-sm) {
	.main-home-page section:last-child {
		margin-bottom: 20px;
	}

	.section-welcome {
		flex-basis: 305px;
	}

	.coins-list {
		grid-template-columns: repeat(1, 1fr);
	}
}
