
@import './fonts';
@import './normalize';
@import './variables';
@import './icons';
@import './buttons';
@import './components/coin-card';
@import './header';
@import './footer';
@import './home-page';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scrollbar-gutter: stable;
	scroll-behavior: smooth;
	height: 100%;
}

body {
	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-14);
	background-color: var(--color-white);
}


main {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.horizontal-line {
	border: none;
	border-top: 1px solid rgb(175, 184, 191);
}

.container {
	max-width: 1340px;
	height: 100%;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

.link {
	font-weight: var(--font-weight-semibold);
	font-size: var(--font-size-16);
}

.heading-h1 {
	font-weight: 700;
	font-size: 32px;
	margin: 0;
}









