{{ define "main" }}
<main class="administration-dashboard-page">
  <div class="container">
    <div class="administration-dashboard-page__inner">
      <h1>Administration dashboard</h1>

      <search class="section filter-panel">
        <div class="custom-select select-currency">
          <select>
            <option value="0">Select currency</option>
            <option value="1">24 hour</option>
            <option value="2">Week</option>
          </select>
        </div>
        <div class="custom-select select-interval-region">
          <select>
            <option value="0">Select region</option>
            <option value="1">24 hour</option>
            <option value="2">Week</option>
          </select>
        </div>
        <div class="datepicker-range__container">
          <input type="date" id="datepicker" />
        </div>
        <button class="btn btn-clear btn-outline-primary">
          <i class="icon refresh-icon"></i>
          Clear filters
        </button>
      </search>

      <section class="section section-statistics">

        <div class="section-statistics__inner">

          <h2 class="heading-h2">Realtime statistics</h2>
          <ul class="stats-container section-statistics__stats-container">
            <li class="stat-item">
              <i class="icon speed-icon"></i>
              <div class="stat-item__content">
                <p class="stat-item__lable">Pool hashrate:</p>
                <strong class="stat-item__value">4.83 TH/s</strong>
              </div>
            </li>
            <li class="stat-item">
              <i class="icon grid-icon"></i>
              <div class="stat-item__content">
                <p class="stat-item__lable">24h Blocks:</p>
                <strong class="stat-item__value">281</strong>
              </div>
            </li>
            <li class="stat-item">
              <i class="icon people-icon"></i>
              <div class="stat-item__content">
                <p class="stat-item__lable">Workers Online:</p>
                <strong class="stat-item__value">106</strong>
              </div>
            </li>
            <li class="stat-item">
              <i class="icon coins-icon"></i>
              <div class="stat-item__content">
                <p class="stat-item__lable">Profit per GH:</p>
                <strong class="stat-item__value">0.0888 ALPH ~ 0.2925 USD</strong>
              </div>
            </li>
            <li class="stat-item">
              <i class="icon coins-icon"></i>
              <div class="stat-item__content">
                <p class="stat-item__lable">Profit per GH:</p>
                <strong class="stat-item__value">0.0888 ALPH ~ 0.2925 USD</strong>
              </div>
            </li>
            <li class="stat-item">
              <i class="icon coins-icon"></i>
              <div class="stat-item__content">
                <p class="stat-item__lable">Profit per GH:</p>
                <strong class="stat-item__value">0.0888 ALPH ~ 0.2925 USD</strong>
              </div>
            </li>

          </ul>
        </div>

      </section>
      <section class="chart-container">
        <div class="chart-header">
          <h2 class="heading-h2">Pool hashrate</h2>
        </div>
        <div class="chart">
          Тут будет график
        </div>
      </section>
      <section class="chart-container">
        <div class="chart-header">
          <h2 class="heading-h2">Workers activity</h2>
        </div>
        <div class="chart">
          Тут будет график
        </div>
      </section>
      <section class="chart-container">
        <div class="chart-header">
          <h2 class="heading-h2">Blocks</h2>
        </div>
        <div class="chart">
          Тут будет график
        </div>
      </section>
      <section class="chart-container">
        <div class="chart-header">
          <h2 class="heading-h2">Profit per GH</h2>
        </div>
        <div class="chart">
          Тут будет график
        </div>
      </section>
      <section class="chart-container">
        <div class="chart-header">
          <h2 class="heading-h2">Gross/Net profit</h2>
        </div>
        <div class="chart">
          Тут будет график
        </div>
      </section>
    </div>



  </div>
</main>
{{ end }}