.card-coin {
	padding: 16px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px 0px var(--color-box-shadow-card-coin);
	transition: box-shadow 0.3s ease;
	&:hover {
		box-shadow: 0px 4px 16px 0px var(--color-box-shadow-card-coin-hover);
	}
}

.card-coin-header {
	display: flex;
	justify-content: space-between;
}

.card-coin__info {
	display: flex;
	align-items: center;
	gap: 14px;
}

.card-coin__info-text {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.card-coin__info-name {
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-16);
	line-height: var(--line-height-1-5);
}

.card-coin__info-symbol {
	line-height: var(--line-height-21);
}

.card-coin__btn {
	line-height: 11px;
}

.card-coin__horizontal-line {
	margin: 12px 0px;
}

.card-coin__stats {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.card-coin__stat {
	line-height: var(--line-height-21);
	display: flex;
	justify-content: space-between;
}

.card-coin__stat-value {
	font-weight: var(--font-weight-bold);
}
