.tab {
	color: var(--color-primary);
	background-color: var(--color-white);
	padding: 6px 12px 6px 12px;
	font-size: 12px;
	line-height: 18px;
	border: 1px solid var(--color-primary);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.tab:hover {
	background-color: var(--color-primary-hover-0-05-opacity);
	color: var(--color-primary-hover);
	border-color: var(--color-primary-hover);
}

.tab.active {
	background-color: var(--color-primary);
	color: var(--color-white);
}

.tab.disabled {
	background-color: var(--color-primary-hover);
	color: var(--color-white);
	border: none;
	cursor: initial;
}

.tab-border-radius-around-right {
	border-radius: 0px 20px 20px 0px;
}

.tab-border-radius-around-left {
	border-radius: 20px 0px 0px 20px;
}

.tab-border-top-bottom {
	border-bottom: 1px solid var(--color-primary);
	border-top: 1px solid var(--color-primary);
	border-right: none;
	border-left: none;
}
