.table {
	display: grid;
	border-collapse: collapse;
	min-width: 100%;
	font-size: 16px;
	line-height: 24px;
	thead,
	tbody,
	tr {
		display: contents;
	}

	th {
		background-color: var(--color-primary-hover-0-05-opacity);
	}

	th,
	td {
		color: var(--color-text-body);
		font-size: 16px;
		line-height: 24px;
		border: 1px solid var(--color-text-light-grey);
		text-align: left;
		padding: 10px 12px;
	}

	:where(th:nth-child(even)) {
		border-left: none;
		border-right: none;
	}

	:where(td:nth-child(even)) {
		border-left: none;
		border-right: none;
		border-top: none;
	}

	:where(td:nth-child(odd)) {
		border-top: none;
	}

	&.table-servers {
		grid-template-columns:
			minmax(240px, 1fr)
			minmax(400px, 1fr)
			minmax(154px, 1fr)
			minmax(154px, 1fr)
			minmax(154px, 1fr);

		.ssl-port-cell,
		.port-cell {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.region-cell {
			display: flex;
			align-items: center;
			gap: 12px;
		}
	}
}

@media (max-width: $breakpoint-lg) {
	.table {
		th,
		td {
			font-size: 14px;
			line-height: 21px;
		}

		&.table-servers {
			grid-template-columns:
				minmax(149px, 1fr)
				minmax(308px, 1fr)
				minmax(75px, 1fr)
				minmax(85px, 1fr)
				minmax(75px, 1fr);

			.btn-copy {
				display: none;
			}

			.region-cell {
				display: flex;
				align-items: center;
				gap: 12px;
			}
		}
	}
}

@media (max-width: $breakpoint-sm) {
	.table.table-servers {
		grid-template-columns: 1fr;

		th {
			display: none;
		}

		td:not(.region-cell) {
			font-weight: var(--font-weight-bold);
		}

		.ssl-port-cell,
		.port-cell,
		.ping-cell {
			display: inline-block;
			width: 33.33%;
		}

		.ssl-port-cell {
			margin: 0 20px;
		}

		.region-cell {
			margin-bottom: 20px;
		}

		.address-cell {
			display: block;
			margin-bottom: 20px;
		}

		:where(.ssl-port-cell, .port-cell, .ping-cell)::before {
			content: attr(data) ':';
			display: block;
			font-weight: initial;
			margin-bottom: 4px;
		}

		td {
			border: none;
			padding: 0;
		}

		tbody {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		tbody tr {
			display: block;
			box-shadow: 0px 4px 10px 0px #00000040;
			border-radius: 10px;
			padding: 16px;
		}
	}
}
