.toast {
    position: fixed;
    z-index: 999999;
    top: 1.5625rem;
    font-size: .8125rem;
    left: 50%;
    transform: translate(-50%, calc(-100% - 1.5625rem));
    width: fit-content;
    color: var(--color-white);
    background: var(--color-error);
    padding: 0.88rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .75rem;
    border-radius: .625rem;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    @media (max-width: $breakpoint-md) {
        width: 23rem;
        font-size: 0.7rem;
    }
}

.toast.active {
    transform: translate(-50%, 0);
}

.toast.success {
    background-color: var(--color-success);
}

.toast-text {
    flex: 1;
}

.toast i:last-child:hover {
    cursor: pointer;
}
