{{ define "main" }}
<main>
  <div class="container">
    <div class="statistics__inner">
      <header class="statistics__header">
        <h1 class="heading-h1">My statistics</h1>
        <search class="statistics__search">
          <form class="statistics__search-form">
            <input class="input" name="search" placeholder="Wallet">
            <button class="btn btn-filled-primary">View personal statistic</button>
          </form>
        </search>
      </header>
      <section class="section-statistics">
        <header class="section-statistics__header">
          <h2 class="heading-h2">Alephium wallet</h2>
          <a href="#" class="btn btn-outline-primary">
            <i class=" icon edit-icon-primary"></i>
            Mining calculator</a>
        </header>
        <ul class="stats-container statistics__stats-container">
          <li class="stat-item">
            <i class="icon balance-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Your balance:</p>
              <strong class="stat-item__value">0.08288304 ~ 0.20 USD</strong>
            </div>
          </li>
          <li class="stat-item">
            <i class="icon speed-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Your hashrate 1h:</p>
              <strong class="stat-item__value">0 H/s</strong>
            </div>
          </li>
          <li class="stat-item">
            <i class="icon speed-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Your hashrate 24h:</p>
              <strong class="stat-item__value">0 H/s</strong>
            </div>
          </li>
          <li class="stat-item">
            <i class="icon coins-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Your payouts 1h:</p>
              <strong class="stat-item__value">0.00000000 ~ 0.00 USD</strong>
            </div>
          </li>
          <li class="stat-item">
            <i class="icon coins-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Your payouts 24h:</p>
              <strong class="stat-item__value">0.0888 ALPH ~ 0.2925 USD</strong>
            </div>
          </li>
          <li class="stat-item">
            <i class="icon coins-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Min payout:</p>
              <strong class="stat-item__value">0.1 coin</strong>
            </div>
            <i class="icon edit-icon"></i></a>
          </li>
          <li class="stat-item">
            <i class="icon timer-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Payouts every:</p>
              <strong class="stat-item__value">30 minutes</strong>
            </div>
          </li>
          <li class="stat-item">
            <i class="icon fee-icon"></i>
            <div class="stat-item__content">
              <p class="stat-item__lable">Pool fee:</p>
              <strong class="stat-item__value">0.5%</strong>
            </div>
          </li>
        </ul>

        <div class="chart-container ">
          <div class="chart-header">
            <h2 class="heading-h2">Your hashrate</h2>
            <div class="chart-interval">
              <button class="tab tab-border-radius-around-left">3070-03</button>
              <button class="tab tab-border-radius-around-right active">24 hours</button>
            </div>
          </div>
          <div class="chart">
            Тут будет график
          </div>
        </div>
        <div class="chart-interval">
          <button class="tab tab-border-radius-around-left">3070-03</button>
          <button class="tab tab-border-radius-around-right active">24 hours</button>
        </div>
        <div class="statistics-table__container">
          <table class="table statistics-table">
            <thead>
              <tr>
                <th>Worker</th>
                <th>Hashrate 1h/24h</th>
                <th>7 day history</th>
                <th>Valid Shares 1h/24h</th>
                <th>Last Share At</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data="worker" class="worker-cell">
                  <span class="worker-value">3070-03
                  </span>
                </td>
                <td class="hashrate-cell" data="Hashrate 1h/24h">
                  <span class="hashrate-value">1.18 GH / 1.15 GH</span>
                </td>
                <td class="history-cell" data="7 day history">
                  <span class="history-сhart">график</span>
                </td>
                <td class="valid-shares-cell" data="Valid Shares 1h/24h">
                  <span class="electricity-costs__value">- 0.0000 USD</span>
                </td>
                <td class="last-share-cell" data="Last Share At">
                  <span id="last-share-value">22/02/2024, 12:03:41</span>
                </td>
              </tr>
              <tr>
                <td data="worker" class="worker-cell">
                  <span class="worker-value">3070-03
                  </span>
                </td>
                <td class="hashrate-cell" data="Hashrate 1h/24h">
                  <span class="hashrate-value">1.18 GH / 1.15 GH</span>
                </td>
                <td class="history-cell" data="7 day history">
                  <span class="history-сhart">график</span>
                </td>
                <td class="valid-shares-cell" data="Valid Shares 1h/24h">
                  <span class="electricity-costs__value">- 0.0000 USD</span>
                </td>
                <td class="last-share-cell" data="Last Share At">
                  <span id="last-share-value">22/02/2024, 12:03:41</span>
                </td>
              </tr>
              <tr>
                <td data="worker" class="worker-cell">
                  <span class="worker-value">3070-03
                  </span>
                </td>
                <td class="hashrate-cell" data="Hashrate 1h/24h">
                  <span class="hashrate-value">1.18 GH / 1.15 GH</span>
                </td>
                <td class="history-cell" data="7 day history">
                  <span class="history-сhart">график</span>
                </td>
                <td class="valid-shares-cell" data="Valid Shares 1h/24h">
                  <span class="electricity-costs__value">- 0.0000 USD</span>
                </td>
                <td class="last-share-cell" data="Last Share At">
                  <span id="last-share-value">22/02/2024, 12:03:41</span>
                </td>
              </tr>
              <tr>
                <td data="worker" class="worker-cell">
                  <span class="worker-value">3070-03
                  </span>
                </td>
                <td class="hashrate-cell" data="Hashrate 1h/24h">
                  <span class="hashrate-value">1.18 GH / 1.15 GH</span>
                </td>
                <td class="history-cell" data="7 day history">
                  <span class="history-сhart">график</span>
                </td>
                <td class="valid-shares-cell" data="Valid Shares 1h/24h">
                  <span class="electricity-costs__value">- 0.0000 USD</span>
                </td>
                <td class="last-share-cell" data="Last Share At">
                  <span id="last-share-value">22/02/2024, 12:03:41</span>
                </td>
              </tr>
              <tr>
                <td data="worker" class="worker-cell">
                  <span class="worker-value">3070-03
                  </span>
                </td>
                <td class="hashrate-cell" data="Hashrate 1h/24h">
                  <span class="hashrate-value">1.18 GH / 1.15 GH</span>
                </td>
                <td class="history-cell" data="7 day history">
                  <span class="history-сhart">график</span>
                </td>
                <td class="valid-shares-cell" data="Valid Shares 1h/24h">
                  <span class="electricity-costs__value">- 0.0000 USD</span>
                </td>
                <td class="last-share-cell" data="Last Share At">
                  <span id="last-share-value">22/02/2024, 12:03:41</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
  </div>

</main>
{{ end }}