<article class="card-coin">
  <header class="card-coin-header">
    <div class="card-coin__info">
      <img class="card-coin__info-img" src="/icons/BTC.svg" alt="coin" width="40" height="40">
      <div class="card-coin__info-text">
        <strong class="card-coin__info-name">Bitcoin</strong>
        <span class="card-coin__info-symbol">BTC</span>
      </div>
    </div>
    <a href="{{ .Site.BaseURL }}/coin/alephium/" class="btn btn-outline-primary card-coin__btn">Start mining</a>
  </header>
  <hr class="horizontal-line card-coin__horizontal-line">
  <ul class="card-coin__stats">
    <li class="card-coin__stat">Pool hashrate:
      <span class="card-coin__stat-value">4.83 EH/s</span>
    </li>
    <li class="card-coin__stat">Network hashrate:
      <span class="card-coin__stat-value">4.83 EH/s</span>
    </li>
    <li class="card-coin__stat">Coin Price:
      <span class="card-coin__stat-value">$70,132.55</span>
    </li>
    <li class="card-coin__stat">Daily Revenue:
      <span class="card-coin__stat-value">$0.1085/T</span>
    </li>
    <li class="card-coin__stat">Fee:
      <span class="card-coin__stat-value">0.5%</span>
    </li>
    <li class="card-coin__stat">Active miners:
      <span class="card-coin__stat-value">112</span>
    </li>
    <li class="card-coin__stat">Min. payout:
      <span class="card-coin__stat-value">0.0088 BTC ~ 0.2925 USD</span>
    </li>
    </li>
</article>