<article id="{{.Params.coin_name }}-card" class="card-coin">
  <header class="card-coin-header">
    <div class="card-coin__info">
      <img class="card-coin__info-img" src="/icons/BTC.svg" alt="coin">
      <div class="card-coin__info-text">
        <strong class="card-coin__info-name">{{ title .Params.coin_name}}</strong>
        <span class="card-coin__info-symbol">{{ .Params.coin_symbol }}</span>
      </div>
    </div>
    <a href="{{ .Site.BaseURL }}/coin/{{ .Params.coin_name }}/" class="btn btn-outline-primary card-coin__btn">{{
      .Params.start_mining }}</a>
  </header>
  <hr class="horizontal-line card-coin__horizontal-line">
  <ul class="card-coin__stats">
    <li class="card-coin__stat">{{ .Params.pool_hashrate }}
      <span id="pool_hashrate" class="card-coin__stat-value">4.83 EH/s</span>
    </li>
    <li class="card-coin__stat">{{ .Params.network_hashrate }}
      <span id="network_hashrate" class="card-coin__stat-value">4.83 EH/s</span>
    </li>
    <li class="card-coin__stat">{{ .Params.coin_price }}
      <span class="card-coin__stat-value">$70,132.55</span>
    </li>
    <li class="card-coin__stat">{{ .Params.daily_revenue }}
      <span class="card-coin__stat-value">$0.1085/T</span>
    </li>
    <li class="card-coin__stat">{{ .Params.fee }}
      <span class="card-coin__stat-value">0.5%</span>
    </li>
    <li class="card-coin__stat">{{ .Params.active_miners }}
      <span class="card-coin__stat-value">112</span>
    </li>
    <li class="card-coin__stat">{{ .Params.min_payout }}
      <span class="card-coin__stat-value">0.0088 BTC ~ 0.2925 USD</span>
    </li>
  </ul>
</article>