<footer class="footer">
  <div class="container">
    <hr class="horizontal-line" />
    <div class="footer__inner">
      <a
        href="https://discord.com/invite/FSXWEUGmEK"
        target="_blank"
        class="link">
        {{ i18n "discord" | title }} {{ i18n "community" | title}}
      </a>
      <a
        href="https://t.me/+6sr8NMwbG_hiYWFi"
        target="_blank"
        class="link">
        {{ i18n "telegram" | title }} {{ i18n "community" | title}}
      </a>
      {{partial "language-switcher.html" .}}
    </div>
  </div>
</footer>
