{{ $coinName := "" }} {{ if and .Parent (isset .Parent.Params "coin_name") }} {{
$coinName = .Parent.Params.coin_name }} {{ else }} {{ $coinName =
.Params.coin_name }} {{ end }} {{$homeLink := relLangURL "/"}} {{ $currentPage
:= .RelPermalink }} {{ $coinStatisticsUrl := print "/coin/" $coinName
"/statistics" }} {{ $coinInstructionsUrl := print "/coin/" $coinName
"/instructions" }} {{ $calculatorUrl := "/calculator" }}
<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="{{ $homeLink }}" class="header__logo">
        <img src="/icons/logo.svg" alt="logo" />
      </a>
      <nav class="header__main-nav">
        <ul class="header__main-nav-list text--medium">
          {{ with $coinName }} {{ $calculatorUrl = printf "%s?coin=%s"
          $calculatorUrl . }} {{ end }} {{ if or (eq .Type "coin") (eq .Type
          "statistics") (eq .Type "instructions") }}
          <li class="header__main-nav-item">
            <a
              href="{{ relLangURL  $coinStatisticsUrl }}"
              class="link header__main-nav-link  {{ if strings.Contains $currentPage $coinStatisticsUrl }}active{{ end }}"
            >
              {{ i18n "my" | title}} {{ i18n "statistics"}}</a
            >
          </li>
          <li class="header__main-nav-item">
            <a
              href="{{ relLangURL $coinInstructionsUrl }}"
              class="link header__main-nav-link {{ if strings.Contains $currentPage $coinInstructionsUrl }}active{{ end }}"
              >{{ i18n "instructions" | title}}
            </a>
          </li>
          {{ end }}

          <li class="header__main-nav-item">
            <a
              href="{{ relLangURL $calculatorUrl }}"
              class="link header__main-nav-link {{ if strings.Contains $currentPage $calculatorUrl }}active{{ end }}"
              >{{ i18n "calculator" | title}}
            </a>
          </li>
        </ul>
      </nav>

      {{partial "language-switcher.html" .}}
      <div class="hamburger-menu-btn">
        <div class="hamburger-menu-btn__line"></div>
        <div class="hamburger-menu-btn__line"></div>
        <div class="hamburger-menu-btn__line"></div>
      </div>
    </div>
  </div>
</header>
