<div class="language-switcher">
  <div class="language-switcher__lang">
    <img src="/icons/US.svg" alt="English" >
    <span class="language-name"></span>
    <i class="icon chevron-icon-bottom"></i>
  </div>

  <ul class="dropdown">
    <a class="dropdown__item" href="#english">
      <img src="/icons/US.svg" alt="English" >
      <span>English</span>
    </a>
    </li>

    <a class="dropdown__item" href="#russian">
      <img src="/icons/Russia.svg" alt="Russian">
      <span>Russian</span>
    </a>
  </ul>
</div>