<table class="table table-servers">
  <thead>
    <tr>
      {{ range .Params.table_headers }}
      <th>{{ . }}</th>
      {{ end }}
    </tr>
  </thead>
  <tbody>
    {{ range .Params.table_body }}
    <tr>
      <td class="region-cell">
        <i class="icon {{.icon}}"></i>
        {{.region}}
      </td>
      <td class="address-cell" data="Address">
        <strong class="host">{{.address}}</strong>
      </td>
      <td class="port-cell" data="Port">
        <span class="port">{{.port}}</span>
        <button class="btn btn-copy">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ssl-port-cell" data="SSL Port">
        <span class="port-ssl">{{.ssl_port}}</span>
        <button class="btn btn-copy button-copy-port-ssl">
          <i class="icon copy-icon"></i>
        </button>
      </td>
    </tr>
    {{ end }}
  </tbody>
  <caption>
    <p class="subtitle">
      <strong>Solo mining</strong> (optional): To mine in solo mode, include the prefix "<strong>solo:</strong>"
      before your wallet address in the mining configuration. Example:
      <strong>solo:ADDRESS</strong>
    </p>
  </caption>
</table>
