<table class="table table-servers">
  <thead>
    <tr>
      <th>{{ .Params.table_headers.region }}</th>
      <th>{{ .Params.table_headers.address }}</th>
      <th>{{ .Params.table_headers.port }}</th>
      <th>{{ .Params.table_headers.ssl_port }}</th>
      <th>{{ .Params.table_headers.ping }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="region-cell">
        <i class="icon globe-icon"></i>
        {{.Params.table_body.region_auto}}
      </td>
      <td class="address-cell" data="Address">
        <strong class="host">detect-my-region.alephium-pool.com</strong>
      </td>
      <td class="port-cell" data="Port">
        <span class="port">20032</span>
        <button class="btn btn-copy">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ssl-port-cell" data="SSL Port">
        <span class="port-ssl">20033</span>
        <button class="btn btn-copy button-copy-port-ssl">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ping-cell" data="Ping">
        <span id="ping-RegionAutoDetection">-</span>
      </td>
    </tr>
    <tr>
      <td class="region-cell">
        <i class="icon europa-flag-icon"></i>
        {{.Params.table_body.region_europe}}
      </td>
      <td class="address-cell" data="Address">
        <strong class="host">eu1.alephium-pool.com</strong>
      </td>
      <td class="port-cell" data="Port">
        <span class="port">20032</span>
        <button class="btn btn-copy">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ssl-port-cell" data="SSL Port">
        <span class="port-ssl">20033</span>
        <button class="btn btn-copy button-copy-port-ssl">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ping-cell" data="Ping">
        <span id="ping-Europe" class="ping">-</span>
      </td>
    </tr>
    <tr>
      <td class="region-cell">
        <i class="icon russian-flag-icon"></i>
        {{.Params.table_body.region_russian}}
      </td>
      <td class="address-cell" data="Address">
        <strong class="host">ru1.alephium-pool.host.com</strong>
      </td>
      <td class="port-cell" data="Port">
        <span class="port">20032</span>
        <button class="btn btn-copy">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ssl-port-cell" data="SSL Port">
        <span class="port-ssl">20033</span>
        <button class="btn btn-copy button-copy-port-ssl">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ping-cell" data="Ping">
        <span id="ping-Russia" class="ping">-</span>
      </td>
    </tr>
    <tr>
      <td class="region-cell">
        <i class="icon usa-flag-icon"></i>
        {{.Params.table_body.region_usa}}
      </td>
      <td class="address-cell" data="Address">
        <strong class="host">us1.alephium-pool.com</strong>
      </td>
      <td class="port-cell" data="Port">
        <span class="port">20032</span>
        <button class="btn btn-copy">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ssl-port-cell" data="SSL Port">
        <span class="port-ssl">20033</span>
        <button class="btn btn-copy button-copy-port-ssl">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ping-cell" data="Ping">
        <span id="ping-US" class="ping">-</span>
      </td>
    </tr>
    <tr>
      <td class="region-cell">
        <i class="icon asia-flag-icon"></i>
        {{.Params.table_body.region_asia}}
      </td>
      <td class="address-cell" data="Address">
        <strong class="host">asia1.alephium-pool.com</strong>
      </td>
      <td class="port-cell" data="Port">
        <span class="port">20032</span>
        <button class="btn btn-copy">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ssl-port-cell" data="SSL Port">
        <span class="port-ssl">20033</span>
        <button class="btn btn-copy button-copy-port-ssl">
          <i class="icon copy-icon"></i>
        </button>
      </td>
      <td class="ping-cell" data="Ping">
        <span id="ping-Asia" class="ping">-</span>
      </td>
    </tr>
  </tbody>
</table>